<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <meta name="simpread:name" content="ghold.net">
    <meta name="simpread:title" content="<h1>">
    <meta name="simpread:desc" content>
    <meta name="simpread:include" content="<div class='simpread_content'>">
    <script src="/assets/js/jquery/jquery.min.js"></script>
    <script src="/assets/js/jquery/jquery.widget.min.js"></script>
    <script src="/assets/js/metro/metro.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="/assets/js/default/default.js"></script>
    <title>{{ page.title }} | Ghold's Programming Version</title>
</head>
<body class="metro">
    <header class="app-bar bg-grayDark" data-role="appbar">
        <a class="app-bar-element" href="/">
                Ghold's Programming Version</a>
        <span class="app-bar-divider bg-darkRed"></span>
        <ul class="app-bar-menu">
			{% for cate in site.categories %}
                <li>
                	<a href="/map.html#{{ cate | first | upcase }}">{{ cate | first | upcase}}</a>
                </li>
            {% endfor %}
        </ul>
        <a class="app-bar-element" href="about.html">ABOUT</a>
    </header>
