
header {
	height: 45px;
	position: relative;
}

#content{
	margin: 0 auto;
	height: inherit;
}

#main {
	width: 60%;
	display: block;
	float: left;
}

#space {
	width: 20%;
	display: block;
	float: left;
}

#side,#active_side {
	width: 20%;
	display:block;
	float: left;
}

#side li, #active_side li {
	list-style: none;
}

.date_side {
	width: 15%;
	display:block;
	float: left;
	text-align: right;
	padding-right: 5px;
}

.content_side {
	float: left;
	display:block;
	width: 85%
}

code {
	white-space: pre-wrap;
	word-break: normal;
	word-wrap: normal;
}

.top_title a{
	color: #fff;
}

div.content_side {
	padding-bottom: 10px;
}

div.map {
	padding-top: 30px;
}

div.map_date_side{
	text-align: left;
	padding-left: 10px; 
}