
header {
	height: 45px;
	position: relative;
}

#content{
	margin: 0 auto;
	height: inherit;
}

#main {
  /*position: absolute;*/
  margin: 0 0 0 10%;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow: auto;
  padding: 0 0 0 0;
	width: 70%;
	float: left;
}

#main a:hover{
    color: rgba(204,0,0,0.8)
}

/*#space {
	width: 20%;
	display: block;
	float: left;
}*/

#side, #active_side {
	width: 19%;
	float: left;
}

#side li, #active_side li {
	list-style: none;
}

.content_item {
  width: 100%;
  float: left;
}

.date_side {
	width: 10%;
	display:block;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-right: 5px;
}

.day {
  font-size: 50px;
  font-weight: bold;
}

.month {
  font-size: 30px;
  border-top: 2px solid #a13838;
  border-radius: 0 0 10px 10px;
}

.content_side {
  float: left;
  width: 90%;
}

code {
	white-space: pre-wrap;
	word-break: normal;
	word-wrap: normal;
}

.top_title a{
	color: #fff;
}

div.content_side {
	padding-bottom: 10px;
}

div.map {
	padding-top: 80px;
}

div.map_date_side{
	text-align: left;
	padding-left: 10px;
}

li {
	width: auto;
	margin: 0;
}
