{% include header.html %}
    <div id="content">
        <div id= "main">
          <div class = "date_side">
            <div class = "day">
              <span>{{ page.date | date: "%d" }}</span>
            </div>
            <div class = "month">
              <span>{{ page.date | date: "%b" | upcase }}</span>
            </div>
          </div>
			<div class = "content_side">
				<h1>{{ page.title }}</h1>
				<p><a href="/map.html#{{ page.category| upcase }}">{{ page.category| upcase}}</a> |
                {% if page.tags.last %}
                    {% assign tags = page.tags %}
                {% else %}
                    {% assign tags = page.tags|split:"," %}
                {% endif %}
				{% for tag in tags %}
					<a href="/map.html#{{ tag| upcase }}">{{ tag| upcase }}</a>{% unless tags.last == tag %}, {% endunless %}
				{% endfor %}
				</p>
				<div class="simpread_content">
				{{ content }}
				</div>
			</div>
        </div>
        <div id= "side">
            <ul>
			{% for post in site.posts %}
			    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
            </ul>
        </div>
        <div id= "active_side">
            <ul>
                <li>{% include responsibility.md %}</li>
            </ul>
        </div>
    </div>

</body>
</html>
