<!DOCTYPE html>
<html>
<head>
　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/assets/css/metro-bootstrap.css" />
    <script src="/assets/js/metro/metro.min.js"></script>
　　<title>{{ page.title }}</title>
</head>
<body class="metro">
	<nav class="navigation-bar dark fixed-top">
        <nav class="navigation-bar-content">
			<div class="element">{{ page.title }}</div>
			{% for cate in site.categories %}
                <div class="element">
                	<a href="#">{{ cate | first | upcase}}</a>
                </div>
            {% endfor %}
            </nav>
		</nav>
	{{ content }}
</body>
</html>